<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Атаманкина Екатерина Романовна. Лабораторная 8</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="icon" href="../favicon.ico">
    <link rel="icon" href="../favicon-16x16.png">
    <link rel="icon" href="../favicon-32x32.png">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon">
    <link rel="icon" href="favicon-32x32.png" type="image/x-icon">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>    
</head>
<body>
    <header>
        НГТУ, ФБ, Лабораторная 8
    </header>

    <main>
        <div id="app">
            <h1 :title="messageRus">{{ message }}</h1>
            <p>Счетчик: {{ counter }}</p>
            <button @click="incCounter" v-if="counter < 10">++</button>
            <button @click="decCounter" v-if="counter > 0">--</button>
            <hr>

            <h2>Пользователь:</h2>
            <div>Имя: {{ user.name }}</div>
            <div>Возраст: {{ user.age }}</div>
            <div>Телефон: {{ user.tel }}</div>            
        </div>  
    </main>

    <footer>
        &copy; Атаманкина Екатерина, ФБИ-33, 2 курс, 2025
    </footer>
    <script>
        Vue.createApp({
            data() {
                return {
                    message: 'Hello!',
                    messageRus: 'Привет!',
                    counter: 1,  
                    user: {
                        name: 'Катя',
                        age: '19',
                        tel: '221-232-33-44',
                    },                                      
                }
            },
            methods: {
                incCounter() {
                    this.counter++;
                },
                decCounter() {
                    this.counter--;
                },
            }
        }).mount('#app');
    </script>
</body>
</html>