body {
    background-color: white; 
    color:brown; 
    font-family:'Courier New', Courier, monospace;
    margin: 0px;
}
main {
    background-color: white;
    color: brown;
    
}
footer {
    background-color: rgb(126, 70, 70); 
    color: white;
    padding: 15px;
    font-size: 13pt;
    font-style: italic;
    text-align: right"
}
header {
    background-color: rgb(126, 70, 70); 
    color: white;
    padding: 15px;
    font-size: 13pt;
}